*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "helvetica Neue", Helvetiva, Arial, sans-serif;
  background: #293f50;
}

.container,
.grid {
  width: 960px;
  margin: 0 auto;
}

.container {
  padding-left: 30;
  padding-right: 30;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  color: #648880;
}

h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

a {
  color: #648880;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.hero {
  padding: 22px 80px 66px 80px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

.logo {
  float: left;
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #648880;
  font-size: 14px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav {
  text-align: right;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a hover,
.primary-footer a hover {
  color: #648880;
}

.row,
.row-alt {
  min-width: 960px;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}